.header
{   
    &__contact-info
    {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 18px 15px;
    height: 20px;
        &:first-child::after
        {
            content: '';
            position: absolute;
            height: 1px;
            background-color: #dfe0e1;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            bottom: -13px;
        }
    }
    
    &__delivery-list
    {
        display: flex;
        column-gap: 30px;
        font-weight: 400;
        opacity: 0.8;
    }

    &__contact-info-list
    {
        display: flex;
        column-gap: 30px;
        font-weight: 500;
        opacity: 0.8;
    }

    &__search-menu
    {
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        align-items: center;

    }

    &__form
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        
       

            &-input
            {

                @include fluid-form-size();
                height: var(--input-height); 
                border-radius: var(--border-radius) 0 0 var(--border-radius);
                border: var(--border-form);
                border-right: none;
                padding-left: 14px;
                &::placeholder
                {
                    color: #1C294D;
                    opacity: 0.5;
                }

                &-button
                {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: var(--button-height);
                    width:  8.5vw;
                    min-width: 50px;
                    color: var(--color-white);
                    background-color: var(--color-orange);
                    border-top-right-radius: var(--border-radius);    
                    border-bottom-right-radius: var(--border-radius);  
                    border: none;  
                    column-gap: 6px;

                    &-image
                    {
                        @include square(20px);
                        vertical-align: center;
                    }
                } 
            }
    }

    &__catalog
    {
        display: flex;
        margin-top: 20px;

        @media (max-width: 768px)
        {
            order: -1;
        }
        
        &-item:nth-child(3)
        {
            margin-left: 25px;
        }
        &-item:nth-child(4)
        {
            margin-left: 26px;
        }
        &-item:nth-child(5)
        {
            margin-left: 26px;
        }
        &-item:nth-child(6)
        {
            margin-left: 25px;
        }
        &-item:nth-child(7)
        {
            margin-left: 25px;
        }
        &-item:nth-child(2)
        {
            padding-left: 5px;
        }

        &-item--red
        {
            display: inline-flex;
            column-gap: 5px;
            justify-content: space-between;
            color: var(--color-red);

            &::before
            {
                content: '';
                background: url(../../img/dekstop/svg/searh-line/label.svg) left center no-repeat;
                @include square(20px);
            }
        }
    }
}

.sign
{
    &-map
    {
        display: inline-flex;
        column-gap: 5px;
        &::before
        {
            content: '';
            background: url(../../img/dekstop/svg/top-signs/map-pin.svg) left center no-repeat;
            @include square(20px);
        }
    }

    &-box
    {
        display: inline-flex;
        column-gap: 5px;
        &::before
        {
            content: '';
            background: url(../../img/dekstop/svg/top-signs/ship-box.svg) left center no-repeat;
            width: 20px;
            aspect-ratio: 1;
        }
    }

    &-default
    {
        display: inline-flex;
        column-gap: 5px;
        &::before
        {
            content: '';
            background: url(../../img/dekstop/svg/top-signs/address-sign.svg) left center no-repeat;
            width: 20px;
            aspect-ratio: 1;
        }
    }
}

.email
{
    display: inline-flex;
    column-gap: 7px;
    &::before
    {
        content: '';
        background: url(../../img/dekstop/svg/top-signs/letter.svg) left center no-repeat;
        @include square(20px);
    }
}

.number
{
    display: inline-flex;
    column-gap: 5px;
    &::before
    {
        content: '';
        background: url(../../img/dekstop/svg/top-signs/phone-sign.svg) left center no-repeat;
        @include square(20px);
    }

    &__header
    {
        &::after
        {
            content: '';
            background: url(../../img/dekstop/svg/top-signs/info-sign.svg) right center no-repeat;
            @include square(20px);
        }
    }
}

.search-menu{
    display: flex;
    flex-direction: column;
    @media (max-width: 768px)
        {
            flex-direction: row;
            align-items: center;
        }

    &__logo-form
    {
        @media (max-width: 768px)
        {
            order: 2;
            
        }
        &img
        {
            height: 40px;
            width: 50px;
        }

        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        align-items: center;
    }

    &__options
    {
        display: flex;
        column-gap: 30px;
        margin-top: 10px;
    }
}

.postponed
{
    display: inline-flex;
    column-gap: 5px;
        &::before
            {
            content: '';
            background: url(../../img/dekstop/svg/searh-line/bookmark.svg) left center no-repeat;
            @include square(20px);
            }    
}

.sign-in
{
    display: inline-flex;
    column-gap: 5px;
        &::before
            {
            content: '';
            background: url(../../img/dekstop/svg/searh-line/smile.svg) left center no-repeat;
            @include square(20px);
            }    
}

.cart
{
    display: inline-flex;
    column-gap: 5px;
    position: relative;
        &::before
        {
            content: '';
            background: url(../../img/dekstop/svg/searh-line/cart.svg) left center no-repeat;
            @include square(20px);
        } 
        &::after 
        {
            content: '10';
            color: var(--color-white);
            font-size: 9px;
            text-align: center;
            padding-top: 2px;
            position: absolute;
            background: var(--color-orange) no-repeat;
            left: 12px;
            border-radius: 50%;
            transform: translateY(-50%);
            @include square(15px);
        } 
        
}

.catalog-sign{
    @include square(20px);
}

.big-logo{
    flex: 0 0 auto;
    @media (max-width: 768px)
    {
        width: 43px;
        height: 35px;
    }
    @media (min-width: 768px)
    {
        width: 50px;
        height: 40px;
    }
}