:root{
    --color-background: #f9f9fa;
    --color-fonts: #1C294D;
    --color-white: #ffffff;
    --color-orange: #FF7A00;
    --color-yellow: #FBC02D;
    --color-lime: #CCFF90;
    --color-green: #3DC47E;
    --color-green-light: #E2F6EC;
    --color-red: #FD3A3A;
    --color-purple: #AC8EE3;
    --color-purple-light: #EEE9F7;
    --color-purple-dark: #7986CB;
    --color-pink: #FFD8EF;
    --color-baklazhan: #6D378F;
    --color-blue: #0288D1;

    --border-radius: 5px;
    --border-form: 1px solid #dfe0e1;
    --border-signs: 1px solid #eee;

    --font-family-base: "Roboto", sans-serif;
    --font-family-min: "Gosha Sans", sans-serif;

    --container-width: 1140px;
    --container-padding-x: 10px;

    --section-padding-y: 15px;

    --input-height: 40px; 
    --button-height: 40px;
    --transition-duration: 0.2s;
}